<h1>Books</h1>
<%= render 'books_ransack/search_form.html.erb'%>

<style>
  table {
    width: 100%; 
    margin: 0 auto; 
  }

  th, td {
    border: 1px solid #ddd;
    padding: 41px; 
    text-align: left; 
  }

  tr:hover {
    background-color: #f1f1f1; 
  }
  
</style>

<table border="5" cellpadding="10">
  <thead>
    <tr>
      <th>Title</th>
      <th>Genre</th>
      <th>Author</th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.genre.split(',').first %></td>
        <td><%= book.author.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>