<h1>Books</h1>
<%= render 'books/search_form' %>

<table border="5" cellpadding="10">
  <thead>
    <tr>
      <th>Title</th>
      <th>Genre</th>
      <th>Author</th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.genre %></td>
        <td><%= book.author.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>